<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>My Favorites Pokemóns</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of selectedItems"  [routerLink]="item.pokemonIndex">
        <ion-avatar slot="start">
          <img [src]="item.image" style="background: #F2F2F2;">
        </ion-avatar>
        <ion-label class="ion-text-capitalize">
          <h2>{{ item.name }}</h2>
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
